header {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e, #1e3c90)  ;
  color: white;
  padding: 20px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  height: 100vh;
}

.login-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px #00f0ff;
  animation: fadeIn 2s ease;
  width: 300px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #1e1e2f;
  border: none;
  border-radius: 5px;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  background: #00f0ff;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #00c0cc;
}

